<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greenuni.application.attendance.AttendanceMapper">
   <insert id="setAttendList">
      IGNORE INTO attendance(
      lecture_id,
      attend_id,
      attend_date,
      `status`
      )
      SELECT c.lecture_id, c.member_id, #{attendDate}, 'attend'
      FROM course c
      JOIN attendance a
      ON c.course_id = a.course_id
      WHERE c.lecture_id = 2
   </insert>

   <select id="getStudentAttendList">
      SELECT a.attend_date AS attendDate, m.`code` AS `code`, m.`name` AS `name`, s.academic_year AS academicYear,
      mj.`name` AS `major`, a.`status` AS `status`, a.reason AS reason
      FROM attendance a
      LEFT JOIN student s
      ON a.attend_id = s.member_id
      LEFT JOIN member m
      ON s.member_id = m.member_id
      LEFT JOIN major mj
      ON mj.major_id = s.major_id
      LEFT JOIN lecture l
      ON a.lecture_id = l.lecture_id
      WHERE a.lecture_id = #{lectureId}
      AND a.attend_date = #{attendDate}
      ORDER BY m.`name` ASC
   </select>
</mapper>