<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greenuni.application.course.CourseMapper">
    <select id="getCourseList">
        SELECT
            l.lecture_id AS lectureId,
            l.type AS lectureType,
            mj.name AS majorName,
            l.name AS lectureName,
            m.name AS proName,
            l.credit,
            ls.day_of_week AS dayOfWeek,
        ls.end_period AS endPeriod,
        ls.start_period AS startPeriod,
            lr.building,
            lr.room_number AS roomNumber,
            l.academic_year AS academicYear,
            l.max_std AS maxStd,
        (l.max_std - (SELECT COUNT(*) FROM course WHERE lecture_id = l.lecture_id)) AS rem_std,
            l.status
        FROM lecture l
        LEFT JOIN member m ON l.member_id = m.member_id
        LEFT JOIN major mj ON l.major_id = mj.major_id
        LEFT JOIN lecture_schedule ls ON l.lecture_id = ls.lecture_id
        LEFT JOIN lecture_room lr ON ls.room_id = lr.room_id
        WHERE l.year = YEAR(CURDATE()) <!--오늘 날짜에서 연도(2026)만 뽑아내겠다-->
        ORDER BY l.name
    </select>

    <select id="getTotalEnrolledCredits" resultType="int">
        SELECT IFNULL(SUM(l.credit), 0)
        FROM course c
        JOIN lecture l ON c.lecture_id = l.lecture_id
        WHERE c.member_id = #{memberId}
    </select>

    <select id="getMyCourseList">
        SELECT
            l.lecture_id AS lectureId,
            l.type AS lectureType,
            mj.name AS majorName,
            l.name AS lectureName,
            m.name AS proName,
            l.credit,
            ls.day_of_week AS dayOfWeek,
        ls.end_period AS endPeriod,
        ls.start_period AS startPeriod,
            lr.building,
            lr.room_number AS roomNumber,
            l.academic_year AS academicYear,
            l.max_std AS maxStd,
        (l.max_std - (SELECT COUNT(*) FROM course WHERE lecture_id = l.lecture_id)) AS rem_std,
            l.status,
        (SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM attendance
        WHERE course_id = c.course_id) AS isAttended
        FROM course c
        JOIN lecture l ON c.lecture_id = l.lecture_id
        LEFT JOIN member m ON l.member_id = m.member_id
        LEFT JOIN major mj ON l.major_id = mj.major_id
        LEFT JOIN lecture_schedule ls ON l.lecture_id = ls.lecture_id
        LEFT JOIN lecture_room lr ON ls.room_id = lr.room_id
        WHERE c.member_id = #{memberId}
        ORDER BY l.name
    </select>

    <delete id="deleteCourse">
        DELETE FROM course
        WHERE lecture_id = #{lectureId} AND member_id = #{memberId};
    </delete>

    <insert id="saveCourse">
        INSERT INTO course
        SET lecture_id = #{lectureId}, member_id = #{memberId}
    </insert>

    <select id="getLectureDetail" resultType="com.green.greenuni.application.lectures.model.LectureDetailRes">
        SELECT
            lecture_id AS lectureId,
            major_id AS majorId,
            type AS lectureType,
            academic_year AS academicYear,
            max_std AS maxStd,
        (max_std - (SELECT COUNT(*) FROM course WHERE lecture_id = #{lectureId})) AS remStd
        FROM lecture
        WHERE lecture_id = #{lectureId}
    </select>

    <select id="getStudentDetail">
        SELECT
        member_id AS memberId,
        major_id AS majorId,
        academic_year AS academicYear  FROM student
        WHERE member_id = #{memberId}
    </select>

</mapper>