<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greenuni.application.lectures.LectureMapper">
    <!-- lecture INSERT 후 생성된 ID 반환 -->
    <insert id="createLecture" useGeneratedKeys="true" keyProperty="lectureId">
        INSERT INTO lecture
        ( member_id, major_id, year, semester, name, credit, type, ref_books, goal, weekly_plan, academic_year, max_std, rem_std, start_date, end_date )
        VALUES (
        #{loginUserId}, #{majorId}, #{year}, #{semester}, #{lectureName},
        #{credit}, #{lectureType}, #{refBooks}, #{goal}, #{weeklyPlan},
        #{academicYear}, #{maxStd}, #{maxStd}, #{startDate}, #{endDate}
        )
    </insert>

    <!-- lecture_schedule INSERT -->
    <insert id="createSchedule">
        INSERT INTO lecture_schedule
        ( lecture_id, room_id, day_of_week, start_period, end_period )
        VALUES (
        #{lectureId},
        (SELECT room_id FROM lecture_room WHERE room_number = #{roomNumber} LIMIT 1),
        #{dayOfWeek},
        #{startPeriod},
        #{endPeriod}
        )
    </insert>

    <select id="getBuildings" resultType="string">
        SELECT DISTINCT building FROM lecture_room
    </select>

    <select id="getProName" resultType="string">
        SELECT name
        FROM member
        WHERE member_id = #{loginUserId}
    </select>

    <resultMap id="lectureRoomMap" type="com.green.greenuni.application.lectures.model.LectureRoom">
        <id property="roomId" column="room_id"/>
        <result property="roomNumber" column="room_number"/>
        <result property="building" column="building"/>
        <result property="capacity" column="capacity"/>
    </resultMap>

    <select id="getRoomsByBuilding" resultMap="lectureRoomMap">
        SELECT room_id, building, room_number, capacity
        FROM lecture_room
        WHERE building = #{building}
    </select>

    <!--중복체크-->
    <select id="checkScheduleConflict" resultType="map">
        SELECT
        (SELECT COUNT(*) FROM lecture_schedule ls
        JOIN lecture l ON ls.lecture_id = l.lecture_id
        WHERE ls.room_id = (SELECT room_id FROM lecture_room WHERE room_number = #{roomNumber} LIMIT 1)
        AND ls.day_of_week = #{dayOfWeek}
        AND l.year = #{year}
        AND l.semester = #{semester}
        AND l.status != 'rejected'
        AND (#{startPeriod} BETWEEN ls.start_period AND ls.end_period
            OR #{endPeriod} BETWEEN ls.start_period AND ls.end_period
            OR ls.start_period BETWEEN #{startPeriod} AND #{endPeriod})
            <if test="lectureId != null">
                AND ls.lecture_id != #{lectureId} <!-- 수정시, 지금 작성하고 있는 강의는 제외 -->
            </if>
            ) AS roomConflict,

        (SELECT COUNT(*) FROM lecture_schedule ls
        JOIN lecture l ON ls.lecture_id = l.lecture_id
        WHERE l.member_id = #{loginUserId}
        AND ls.day_of_week = #{dayOfWeek}
        AND l.year = #{year}
        AND l.semester = #{semester}
        AND l.status != 'rejected'
        AND (#{startPeriod} BETWEEN ls.start_period AND ls.end_period
            OR #{endPeriod} BETWEEN ls.start_period AND ls.end_period
            OR ls.start_period BETWEEN #{startPeriod} AND #{endPeriod})
        <if test="lectureId != null">
            AND ls.lecture_id != #{lectureId}<!-- 수정시, 지금 작성하고 있는 강의는 제외 -->
        </if>
        ) AS professorConflict,

        (SELECT CASE WHEN capacity &lt; #{maxStd} THEN 1 ELSE 0 END
        FROM lecture_room
        WHERE room_number = #{roomNumber} LIMIT 1
        ) AS capacityOver
    </select>

    <!--전체강의-->
    <select id="getLectureList">
        SELECT
        l.semester,
        l.year,
        l.lecture_id AS lectureId,
        l.type AS lectureType,
        mj.name AS majorName,
        l.name AS lectureName,
        m.name AS proName,
        l.credit,
        ls.day_of_week AS dayOfWeek,
        ls.end_period AS endPeriod,
        ls.start_period AS startPeriod,
        lr.building,
        lr.room_number AS roomNumber,
        l.academic_year AS academicYear,
        l.status
        FROM lecture l
        LEFT JOIN member m ON l.member_id = m.member_id
        LEFT JOIN major mj ON l.major_id = mj.major_id
        LEFT JOIN lecture_schedule ls ON l.lecture_id = ls.lecture_id
        LEFT JOIN lecture_room lr ON ls.room_id = lr.room_id
        ORDER BY l.lecture_id DESC
    </select>

<!--    내강의목록-->
    <select id="getMyLectureList" resultType="com.green.greenuni.application.lectures.model.MyLectureListRes">
        SELECT
        l.status,
        l.member_id,
        l.lecture_id AS lectureId,
        l.type AS lectureType,
        l.name AS lectureName,
        m.name AS proName,
        l.credit,
        l.semester,
        l.year,
        ls.day_of_week as dayOfWeek,
        ls.end_period AS endPeriod,
        ls.start_period AS startPeriod,
        lr.building,
        lr.room_number as roomNumber, l.academic_year AS academicYear,
        l.max_std AS maxStd,
        l.is_open
        FROM lecture l
        JOIN member m ON l.member_id = m.member_id
        LEFT JOIN lecture_schedule ls ON l.lecture_id = ls.lecture_id
        LEFT JOIN lecture_room lr ON ls.room_id = lr.room_id
        <choose>
            <when test="role == 'professor'">
                WHERE l.member_id = #{loginUserId}
            </when>
            <!-- admin은 WHERE 조건 없음 → 전체 조회 -->
        </choose>
        ORDER BY l.lecture_id DESC
    </select>

    <!-- 학생용: 수강신청한 강의 -->
    <select id="getMyCourseList" resultType="com.green.greenuni.application.lectures.model.LectureListRes">
        SELECT
            c.member_id AS memberId,
            l.lecture_id AS lectureId,
            l.type AS lectureType,
            mj.name AS majorName,
            l.name AS lectureName,
            m.name AS proName,
            l.credit,
            ls.day_of_week AS dayOfWeek,
            ls.end_period AS endPeriod,
            ls.start_period AS startPeriod,
            lr.building,
            lr.room_number AS roomNumber,
            l.academic_year AS academicYear,
            l.status,
            l.semester,
            l.year
        FROM course c
        JOIN lecture l ON c.lecture_id = l.lecture_id
        LEFT JOIN member m ON l.member_id = m.member_id
        LEFT JOIN major mj ON l.major_id = mj.major_id
        LEFT JOIN lecture_schedule ls ON l.lecture_id = ls.lecture_id
        LEFT JOIN lecture_room lr ON ls.room_id = lr.room_id
        WHERE c.member_id = #{loginUserId}
        ORDER BY l.lecture_id DESC
    </select>

    <select id="findById">
        select
        l.member_id AS memberId, mem.name AS proName, l.lecture_id, l.name AS lectureName, l.year, l.semester, l.type AS lectureType, l.credit, l.max_std AS maxStd, l.academic_year AS academicYear, l.ref_books AS refBooks, l.goal, l.weekly_plan AS weeklyPlan, lr.building, lr.room_number AS roomNumber, ls.day_of_week AS dayOfWeek,         ls.end_period AS endPeriod,
        ls.start_period AS startPeriod, l.status, l.major_id AS majorId, m.name AS majorName

        from lecture l
        left join member mem on l.member_id = mem.member_id
        left join lecture_schedule ls
        on l.lecture_id=ls.lecture_id
        left join lecture_room lr
        on ls.room_id=lr.room_id
        LEFT JOIN major m ON l.major_id = m.major_id
        WHERE l.lecture_id = #{lectureId}
    </select>

    <!--강의수정시 불러올 내용-->
    <select id="findByIdForEdit" resultType="com.green.greenuni.application.lectures.model.LectureEditRes">
        SELECT
        l.lecture_id    AS lectureId,
        l.member_id     AS loginUserId,
        l.name          AS lectureName,
        l.year,
        l.semester,
        l.type          AS lectureType,
        l.credit,
        l.max_std       AS maxStd,
        l.academic_year AS academicYear,
        l.ref_books     AS refBooks,
        l.goal,
        l.weekly_plan   AS weeklyPlan,
        l.status,
        l.major_id      AS majorId,
        mj.name         AS majorName,
        ls.day_of_week  AS dayOfWeek,
        ls.start_period AS startPeriod,
        ls.end_period   AS endPeriod,
        lr.building,
        lr.room_number  AS roomNumber
        FROM lecture l
        LEFT JOIN lecture_schedule ls ON l.lecture_id = ls.lecture_id
        LEFT JOIN lecture_room lr     ON ls.room_id = lr.room_id
        LEFT JOIN major mj            ON l.major_id = mj.major_id
        WHERE l.lecture_id = #{lectureId}
    </select>

    <update id="editLeceture">
        UPDATE lecture
        SET major_id = #{req.majorId},
            name          = #{req.lectureName},
            credit        = #{req.credit},
            type          = #{req.lectureType},
            ref_books     = #{req.refBooks},
            goal          = #{req.goal},
            weekly_plan   = #{req.weeklyPlan},
            academic_year = #{req.academicYear},
            max_std       = #{req.maxStd},
            semester      = #{req.semester},
            year          = #{req.year}
        WHERE lecture_id = #{lectureId}
    </update>

    <update id="updateSchedule">
        UPDATE lecture_schedule
        SET room_id      = (SELECT room_id FROM lecture_room
        WHERE room_number = #{req.roomNumber} LIMIT 1),
        day_of_week  = #{req.dayOfWeek},
        start_period = #{req.startPeriod},
        end_period   = #{req.endPeriod}
        WHERE lecture_id = #{lectureId}
    </update>

    <!--내 강의수강하는 학생 정보-->
    <select id="studentInfo"
            resultType="com.green.greenuni.application.lectures.model.LectureStudentInfoReq">
        SELECT ma.`name` AS majorName, m.`code` AS studentCode,
            m.`name` AS studentName, s.academic_year AS academicYear,
            c.grade_letter AS gradeLetter, c.lecture_id AS lectureId
        FROM course c
        JOIN student s ON c.member_id = s.member_id
        JOIN major ma  ON s.major_id = ma.major_id
        JOIN member m  ON s.member_id = m.member_id
        WHERE c.lecture_id = #{req.lectureId}

        <if test="role == 'professor'">
            AND c.lecture_id IN (
            SELECT lecture_id FROM lecture
            WHERE member_id = #{loginUserId}
            )
        </if>

        ORDER BY m.`name` ASC
    </select>

    <!-- 관리자용: 소유자 체크 없음 -->
    <select id="studentInfoForAdmin" resultType="com.green.greenuni.application.lectures.model.LectureStudentInfoReq">
        SELECT ma.`name` AS majorName, m.`code` AS studentCode,
            m.`name` AS studentName, s.academic_year AS academicYear,
            c.grade_letter AS gradeLetter, c.lecture_id AS lectureId
        FROM course c
        JOIN student s ON c.member_id = s.member_id
        JOIN major ma ON s.major_id = ma.major_id
        JOIN member m ON s.member_id = m.member_id
        WHERE c.lecture_id = #{req.lectureId}
        ORDER BY m.`name` ASC
    </select>

    <update id="updateLectureStatus">
        UPDATE lecture
        SET status = #{status}
        WHERE lecture_id = #{lectureId}
    </update>

    <!--삭제시필요한것들 아래 3가지임-->
    <select id="countStudentsByLectureId" resultType="int">
        SELECT COUNT(*) FROM course
        WHERE lecture_id = #{lectureId}
    </select>

    <delete id="deleteSchedule">
        DELETE FROM lecture_schedule
        WHERE lecture_id = #{lectureId}
    </delete>

    <delete id="deleteLecture">
        DELETE FROM lecture
        WHERE lecture_id = #{lectureId}
        AND member_id = #{loginUserId}
    </delete>

</mapper>