<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greenuni.application.lectures.LectureMapper">
    <!-- lecture INSERT 후 생성된 ID 반환 -->
    <insert id="createLecture" useGeneratedKeys="true" keyProperty="lectureId">
        INSERT INTO lecture
        ( member_id, major_id, year, semester, name, credit, type, ref_books, goal, weekly_plan, academic_year, max_std, start_date, end_date )
        VALUES (
        #{loginUserId}, #{majorId}, #{year}, #{semester}, #{lectureName},
        #{credit}, #{lectureType}, #{refBooks}, #{goal}, #{weeklyPlan},
        #{academicYear}, #{maxStd}, #{startDate}, #{endDate}
        )
    </insert>

    <!-- lecture_schedule INSERT -->
    <insert id="createSchedule">
        INSERT INTO lecture_schedule
        ( lecture_id, room_id, day_of_week, start_period, end_period )
        VALUES (
        #{lectureId},
        (SELECT room_id FROM lecture_room WHERE room_number = #{roomNumber} LIMIT 1),
        #{dayOfWeek},
        #{startPeriod},
        #{endPeriod}
        )
    </insert>

    <select id="getBuildings" resultType="string">
        SELECT DISTINCT building FROM lecture_room
    </select>

    <select id="getProName" resultType="string">
        SELECT name
        FROM member
        WHERE member_id = #{loginUserId}
    </select>

    <resultMap id="lectureRoomMap" type="com.green.greenuni.application.lectures.model.LectureRoom">
        <id property="roomId" column="room_id"/>
        <result property="roomNumber" column="room_number"/>
        <result property="building" column="building"/>
        <result property="capacity" column="capacity"/>
    </resultMap>

    <select id="getRoomsByBuilding" resultMap="lectureRoomMap">
        SELECT room_id, building, room_number, capacity
        FROM lecture_room
        WHERE building = #{building}
    </select>

    <select id="meBefore" resultType="com.green.greenuni.application.lectures.model.MyLectureBeforeRes">
        SELECT
        l.status,
        l.member_id,
        l.lecture_id AS lectureId,
        l.type AS lectureType,
        l.name AS lectureName,
        m.name AS proName,
        l.credit,
        ls.day_of_week as dayOfWeek, lr.building,
        lr.room_number as roomNumber, l.academic_year AS academicYear,
        l.max_std AS maxStd,
        l.is_open
        FROM lecture l
        JOIN member m ON l.member_id = m.member_id
        LEFT JOIN lecture_schedule ls ON l.lecture_id = ls.lecture_id
        LEFT JOIN lecture_room lr ON ls.room_id = lr.room_id

        AND l.member_id = #{loginUserId}
    </select>

    <select id="getLectureList">
        SELECT
        l.lecture_id AS lectureId,
        l.type AS lectureType,
        mj.name AS majorName,
        l.name AS lectureName,
        m.name AS proName,
        l.credit,
        ls.day_of_week AS dayOfWeek,
        lr.building,
        lr.room_number AS roomNumber,
        l.academic_year AS academicYear,
        l.status
        FROM lecture l
        LEFT JOIN member m ON l.member_id = m.member_id
        LEFT JOIN major mj ON l.major_id = mj.major_id
        LEFT JOIN lecture_schedule ls ON l.lecture_id = ls.lecture_id
        LEFT JOIN lecture_room lr ON ls.room_id = lr.room_id
        ORDER BY l.lecture_id DESC
    </select>

    <select id="findById">
        select
        l.member_id AS memberId, l.name AS lectureName, l.year, l.semester, l.type AS lectureType, l.credit, l.max_std AS maxStd,l.academic_year AS academicYear, l.ref_books AS refBooks, l.goal, l.weekly_plan AS weeklyPlan, lr.building, lr.room_number AS roomNumber, ls.day_of_week AS dayOfWeek

        from lecture l
        left join lecture_schedule ls
        on l.lecture_id=ls.lecture_id
        left join lecture_room lr
        on ls.room_id=lr.room_id
        WHERE l.lecture_id = #{lectureId}
    </select>

</mapper>