<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greenuni.application.lectures.LectureMapper">
    <insert id="createLecture">
        INSERT INTO lecture
        ( member_id, member_name, major_id, semester, `name`, credit, `type`, ref_books, goal, weekly_plan, academic_year, max_std, start_date, end_date, room_id )
        VALUES (
        #{memberId},
        (SELECT name FROM member WHERE member_id = #{memberId}),
        (SELECT major_id FROM major WHERE name LIKE CONCAT('%', #{majorName}, '%') LIMIT 1),
        #{semester}, #{name}, #{credit}, #{type}, #{refBooks}, #{goal}, #{weeklyPlan}, #{academicYear}, #{maxStd}, #{startDate}, #{endDate}, #{roomId}
        )
    </insert>


    <select id="getBuildings" resultType="string">
        SELECT DISTINCT building FROM lecture_room
    </select>

    <resultMap id="lectureRoomMap" type="com.green.greenuni.application.lectures.model.LectureRoom">
        <id property="roomId" column="room_id"/>
        <result property="roomNumber" column="room_number"/>
        <result property="building" column="building"/>
        <result property="capacity" column="capacity"/>
    </resultMap>

    <select id="getRoomsByBuilding" resultMap="lectureRoomMap">
        SELECT room_id, building, room_number, capacity
        FROM lecture_room
        WHERE building = #{building}
    </select>

    <select id="meBefore">
        select l.status, l.lectureType, l.lectureName, l.proName, l.credit, ls.day_of_week, lr.building, l.targetGrade,l.maxStd, l.is_open
        from lecture l
        left join lecture_schedule ls
        on l.lecture_id=ls.lecture_id
        left join lecture_room lr
        on ls.room_id=lr.room_id
        where l.status = 'before'
    </select>

</mapper>