<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greenuni.application.major.MajorMapper">
    <select id="listForCreate">
        SELECT `major_id`, `name`
        FROM `major`
        ORDER BY `name`
    </select>

    <insert id="createMajor">
        INSERT INTO major (
        name,
        active,
        college,
        room,
        tel,
        chair_professor,
        capacity,
        start_date,
        info
        ) VALUES (
        #{name},
        #{active},
        #{college},
        #{room},
        #{tel},
        #{chairProfessorId},
        #{capacity},
        #{startDate},
        #{info}
        )
    </insert>

    <select id="getMajorList">
        SELECT
            m.major_id,
            m.name,
            m.capacity,
            m.room,
            m.tel,
            m.college,
            m.active,
        m.chair_professor AS chairProfessorId,
        mem.name AS chairProfessorName,
            (SELECT COUNT(*) FROM professor p WHERE p.major_id = m.major_id) AS professorCount
        FROM major m
        LEFT JOIN member mem ON m.chair_professor = mem.member_id
        ORDER BY m.name ASC
    </select>

    <update id="modifyMajor">
        UPDATE major
        SET
            name = #{name},
            active = #{active},
            college = #{college},
            room = #{room},
            tel = #{tel},
            chair_professor = #{chairProfessorId},
            capacity = #{capacity},
            start_date = #{startDate},
            info = #{info}
        WHERE major_id = #{majorId}
    </update>

    <select id="getMajor">
        SELECT
            m.name,
            m.active,
            m.college,
            m.room,
            m.tel,
        m.chair_professor AS chairProfessorId,
        mem.name AS chairProfessorName,
            m.capacity,
            m.start_date,
            m.info
        FROM major m
        LEFT JOIN member mem ON m.chair_professor = mem.member_id
        WHERE major_id = #{majorId}
    </select>

    <select id="getProfessorList">
        SELECT
            p.member_id AS memberId,
            m.name AS name
        FROM professor p
        JOIN member m ON p.member_id = m.member_id
        WHERE p.status = '재직'
        ORDER BY m.name
    </select>

</mapper>