<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greenuni.application.member.MemberMapper">
    <insert id="createMember" useGeneratedKeys="true" keyProperty="memberId">
        INSERT INTO `member`
        SET
            `role` = #{ role }
            , `birth` = #{ birth }
            , `name` = #{ name }
            , `entry_date` = #{ entryDate }
            <if test="pic != null and pic != ''">
                , `pic` = #{ pic }
            </if>
            <if test="email != null and email != ''">
                ,`email` = #{ email }
            </if>
            <if test="tel != null and tel != ''">
                , `tel` = #{ tel }
            </if>
            <if test="emergencyTel != null and emergencyTel != ''">
                ,`emergency_tel` = #{ emergencyTel }
            </if>
            <if test="postcode != null and postcode != ''">
                , `postcode` = #{ postcode }
            </if>
            <if test="address != null and address != ''">
                ,`address` = #{ address }
            </if>
            <if test="detailAddress != null and detailAddress != ''">
                , `detail_address` = #{ detailAddress }
            </if>
            <if test="exitDate != null and exitDate != ''">
                , `exit_date` = #{ exitDate }
            </if>
    </insert>
    <insert id="createStudent">
        INSERT INTO `student`(
            `member_id`,`major_id`, `academic_year`, `semester`, `status`
        ) VALUES (
            #{ memberId }, #{ majorId }, #{ academicYear }, #{ semester },#{ status }
        )
    </insert>
    <insert id="createProfessor">
        INSERT INTO `professor`(
            `member_id`,`major_id`, `degree`, `position`, `status`
            <if test="labRoom != null">, `lab_room`</if>
            <if test="labTel != null">, `lab_tel`</if>
        ) VALUES (
            #{ memberId }, #{ majorId }, #{ degree }, #{ position } ,#{ status }
            <if test="labRoom != null">, #{ labRoom }</if>
            <if test="labTel != null">, #{ labTel }</if>
        )
    </insert>
    <insert id="createStaff">
        INSERT INTO `staff`(
            `member_id`, `status`
        ) VALUES (
            #{ memberId }, #{ status }
        )
    </insert>
    <update id="updateMemberCodeAPw">
        UPDATE `member`
        SET
        `code` = #{ code },
        `password` = #{ password }
        WHERE `member_id` = #{ memberId }
    </update>

    <select id="findAllMember">
        SELECT m.`code`, m.`name`, m.entry_date, m.exit_date, m.email, m.tel,
                sm.`name` AS std_major_name, s.`status` AS std_status,
                pm.`name` AS prof_major_name, p.`status` AS prof_status,
                a.`status` AS stf_status
          FROM `member` m

        LEFT JOIN `student` s
               ON m.member_id = s.member_id
        LEFT JOIN `major` sm
               ON s.major_id = sm.major_id

        LEFT JOIN `professor` p
               ON m.member_id = p.member_id
        LEFT JOIN `major` pm
               ON p.major_id = pm.major_id

        LEFT JOIN `staff` a
            ON m.member_id = a.member_id
        <where>
            <if test="role != null and role != ''">
                m.role = #{role}
            </if>
            <if test="memberName != null and memberName != ''">
                AND m.name LIKE CONCAT('%', #{memberName}, '%')
            </if>
            <if test="majorName != null and majorName != ''">
                AND (sm.name LIKE CONCAT('%', #{majorName}, '%')
                OR pm.name LIKE CONCAT('%', #{majorName}, '%'))
            </if>
        </where>
        ORDER BY m.member_id DESC

        LIMIT #{startIdx}, #{size}
    </select>

    <select id="findByCode">
        SELECT `member_id`, `code`, `password`, `name`, `role`
        FROM `member`
        WHERE `code` = #{code}
    </select>

    <select id="findUserProfile">
        SELECT `code`, m.`name`, `birth`, `email`, m.`tel`, `emergency_tel`
        , `postcode`, `address`, `detail_address`, `entry_date`, `exit_date`, `pic`
        , sm.`name` AS stdMajorName, s.`status` AS stdStatus, s.`academic_year`, s.`semester`
        , pm.`name` AS profMajorName, p.`status` AS profStatus, p.`degree`, p.`position`, p.`lab_room`, p.`lab_tel`
        , a.`status` AS stfStatus
        FROM `member` m
        LEFT JOIN `student` s
        ON m.member_id = s.member_id
        LEFT JOIN `professor` p
        ON m.member_id = p.member_id
        LEFT JOIN `staff` a
        ON m.member_id = a.member_id

        LEFT JOIN `major` sm
        ON s.major_id = sm.major_id
        LEFT JOIN `major` pm
        ON p.major_id = pm.major_id

        WHERE m.`member_id` = #{loginUserId}
    </select>
</mapper>
